@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.ApartmentModal__landscape {
    object-fit: contain;
    border-radius: 10px;
}

.ApartmentModal__portrait {
    display: none;
    /*object-fit: contain;*/
    border-radius: 10px;
}

.tagline {
    padding-bottom: 10px;
    align-self: center;
}

.ApartmentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    /*scroll-snap-align: start;*/
}

.ApartmentModal::-webkit-scrollbar {
    display: none;
}

.ApartmentModal__about {
    padding: 5px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: space-evenly;
    font-weight: 300;
}

.ApartmentModal__title {
    height: 100%;
    font-size: 3vw;

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.ApartmentModal__description {
    display: flex;
    height: 40%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin; /* Firefox */
    box-shadow: inset 0 0 5px #000000;
    text-align: justify;
}

.ApartmentModal__description::-webkit-scrollbar {
    display: none;
}
.div_ApartmentBlock_main{
    display: flex;
}
.img_ApartmentBlock{
    width: 300px;
    height: 400px;
    margin-top: 30px;
}
.div_ApartmentBlock_li{
    margin: 30px 0 10px 20px;
    font-size: 20px;
}
@media (min-width: 835px) {
    .ApartmentModal__landscape {
        display: none;
    }
    .ApartmentModal__portrait {
        display: flex;
        width: 38%;
    }
    .ApartmentModal {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .ApartmentModal__about {
        width: 58%;
        padding: 0;
        height: 100%;
    }
    .ApartmentModal__title {
        font-size: 2.0vw;
        width: 430px;
    }
    .ApartmentModal__description {
        font-size: 22px;
    }
}
.ApartmentModal_main_title{
    display: flex;
}
.ApartmentModal_button_rent{
    margin-left: 150px;
    margin-top: 200px;
}
.div_comments_apartment_modal{
    height: 600px;
    overflow: auto;
    scrollbar-width: thin;
}
.div_comments_apartment_modal_noComments{
    width: 600px;
}