.header{
    display: flex;
    width: 100%;
    background-color: #39445a;
    box-sizing: border-box;
    box-shadow: 0 1px 5px black;
    position: fixed;
    justify-content: center;
}
.header_span{
    width: 70%;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat" , sans-serif;
    font-size: 5vw;
    margin-left: 200px;
    color: white;
    z-index: 100;
}
/*.img_header{*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    margin: 10px 40px 10px 40px;*/
/*}*/
.registration_link{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    /*border: solid 1px white;*/
    /*border-radius: 2px;*/
}
.header_button{
  margin-top: 40px;
}
@media (max-width: 1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}