.header{
    display: flex;
    width: 100%;
    background-color: #39445a;
    box-sizing: border-box;
    box-shadow: 0 1px 5px black;
    position: fixed;
    justify-content: center;
    z-index: 100;
}
.header_span{
    width: 70%;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat" , sans-serif;
    font-size: 5vw;
    margin-left: 200px;
    font-weight: bold;
    color: slategrey;
    z-index: 100;
}
.registration_link{
    color: white;
    text-decoration: none;
    margin-top: 50px;

}
.header_button{
  margin-top: 40px;
}
.div_name{
    color: green;
}
.div_NotFound_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 46px;
    color: rgba(236, 9, 62, 0.63);
}
.div_NotFound_error{
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}