.comments_photo{
    width: 70px;
    height: 70px;
}
.h4_text{
    width: 90%;
}
.h5_text{
    color: green;
}
.div_comments_apartment{
    border: solid 2px green;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0;
}
.send_label{
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}
.send_input{
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
    width: 100px;
}
.div_sendComment_apartment_button{
    display: flex;
    justify-content: right;
}
.div_image_comment_apartment_main{
    display: flex;
    flex-wrap: wrap;
}
.div_image_comment_apartment{
    margin: 5px ;
    cursor: pointer;
}
.image_comment_apartment{
    width: auto;
    height: 40px;
}
.ImageCommentApartmentModal__portrait{
    width: auto;
    max-height: 700px;
}