.form_main{
    margin: 10px 0 30px 720px;
    width: 550px;
}

.span_link{
    display: flex;

}
.error_link{
    color: white;
    text-decoration: none;
    margin-left: 150px;
}
.auth_link{
    color: white;
    text-decoration: none;
    margin-left: 450px;
}
.btn{
    border: 0;
    padding: 5px 20px;
    font-size: 14px;
    margin-left: 10px;
}
.h_apartments{
    margin-left: 720px;
    margin-right: 30px;
}
.div_apartments{
    display: flex;
}
.button_apartments{
    /*width: 90px;*/
    height: 30px;
    margin-right: 5px;
}
.error_message{
    font-size: 12px;
    color: red;
}
.link_auth_modal{
    color: white;
    text-decoration: none;
    cursor: pointer;

}
.div_auth_modal{
    background: green;
    width: 110px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    align-items: center;
}
.div_auth_main{
    display: flex;

}