form {
    margin-bottom: 22px;
}
input{
    /*font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 16px;
}
.error_input{
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
    width: 98%;
}
.error_label{
    color: red;
    cursor: pointer;
    font-weight: 400;
}
.label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}
.input{
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
    width: 98%;
}

.btn-default {
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 16px;
}
.btn-default:hover {
    background: #77a198;
}
.noError{
    color: red;
    font-size: 14px;
}
.link_youregistration{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.div_youregistration{
    background: green;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}